# Data Science Tools and Ecosystem

**Objectives:**

* List popular languages for Data Science 
* List commonly used libraries 
* List commonly used data science tools 
* Show you can run code for math with an output 
* Show you can create a table in Jupyter Notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Tensorflow
3. Pandas

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Keras |
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

#### Author
Joseph Newton